<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
<section>
<!-- start slider-->
<div id="carouselExample" class="carousel slide">
<div class="carousel-inner">
<div class="carousel-item active">
<img src="img/ecom1.png" class="d-block w-100" alt="E-commerce Shopping" height="350px">
</div>
<div class="carousel-item">
<img src="img/ecom2.jpg" class="d-block w-100" alt="Online Shopping" height="350px">
</div>
<div class="carousel-item">
<img src="img/ecom3.jpg" class="d-block w-100" alt="Shopping Cart" height="350px">
</div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="visually-hidden">Next</span>
</button>
</div>
<!--End slider-->
<!-- category start module-->
<div class="container">
<div class="row">
<p class="text-center fs-4">Category</p>
<div class="col-md-2">
<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
<div class="card-body text-center">
<img src="img/category_img/appli.png" width="65%" height"140px">
<p>Electronics</p>
</div>
</div>
</div>
<div class="col-md-2">
<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
<div class="card-body text-center">
<img src="img/category_img/beuty.png" width="65%" height"140px">
<p>beauty</p>
</div>
</div>
</div>
<div class="col-md-2">
<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
<div class="card-body text-center">
<img src="img/category_img/pant.png" width="65%" height"140px">
<p>Clothes</p>
</div>
</div>
</div>
<div class="col-md-2">
<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
<div class="card-body text-center">
<img src="img/category_img/laptop.jpg" width="65%" height"140px">
<p>Laptops</p>
</div>
</div>
</div>
<div class="col-md-2">
<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
<div class="card-body text-center">
<img src="img/category_img/mobile.png" width="65%" height"140px">
<p>Mobiles</p>
</div>
</div>
</div>
<div class="col-md-2">
<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
<div class="card-body text-center">
<img src="img/category_img/groccery.jpg" width="65%" height"140px">
<p>groccery</p>
</div>
</div>
</div>
</div>
</div>
</div>
<!--category end module-->

<!-- start latest product module-->
<div class="container-fluid bg-light p-3">
    <div class="row">
        <p class="text-center fs-4">Latest product</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <div class="card-body text-center">
                    <img src="img/product_img/laptop.jpg"
                         class="rounded-circle"
                         style="width: 140px; height: 140px; object-fit: cover;"
                         alt="HP Laptop">
                    <p class="text-center">HP Laptops</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <div class="card-body text-center">
                    <img src="img/product_img/laptop.jpg"
                         class="rounded-circle"
                         style="width: 140px; height: 140px; object-fit: cover;"
                         alt="HP Laptop">
                    <p class="text-center">HP Laptops</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <div class="card-body text-center">
                    <img src="img/product_img/laptop.jpg"
                         class="rounded-circle"
                         style="width: 140px; height: 140px; object-fit: cover;"
                         alt="HP Laptop">
                    <p class="text-center">HP Laptops</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <div class="card-body text-center">
                    <img src="img/product_img/laptop.jpg"
                         class="rounded-circle"
                         style="width: 140px; height: 140px; object-fit: cover;"
                         alt="HP Laptop">
                    <p class="text-center">HP Laptops</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End  latest product module-->

</section>
</body>
</html>